    <!--Info-->
    <div th:fragment="info">
    <div  class="modal fade " id="info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="infoLabel" aria-hidden="true" style="--bs-modal-width:1000px;--bs-modal-heigth:1000px">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="infoLabel">Detalle Pokemon </h1>
              <div>
                <label>Version:</label>
                <select id="versionSelect" onchange="setFlavorText(this.value)"></select>
              </div>
              <img src="https://www.pngall.com/wp-content/uploads/4/Pokemon-Pokeball-PNG-Download-Image.png" style="width: 10%;">
            </div>
            <div class="spinner-border m-5 text-center" role="status" style="place-self: center;" id="LoadInfoDetail">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="modal-body"  id="infoBody" style="display: none;">
                <div class="container">
                    <div class="row">
                      <div class="col-sm border-end border-bottom p-3">
                        <div>
                          <label><strong>Nombre:</strong></label>
                          <span id="name"></span>
                        </div>
                        <div>
                          <label><strong>Color:</strong></label>
                          <span id="color"></span>
                        </div>
                        <div>
                          <label><strong>Habitat:</strong></label>
                          <span id="habitat"></span>
                        </div>
                        <div>
                          <label><strong>Forma:</strong></label>
                          <span id="Shape"></span>
                        </div>
                        <div>
                          <label><strong>Felicidad Base:</strong></label>
                          <span id="baseHappiness"></span>
                        </div>
                        <div>
                          <label><strong>Tasa de captura:</strong></label>
                          <span id="captureRate"></span>
                        </div>
                        <div>
                          <label><strong>Tasa de género:</strong></label>
                          <span id="GenRate"></span>
                        </div>
                        <div>
                          <label><strong>Contador Hatch:</strong></label>
                          <span id="hatchCount"></span>
                        </div>
                      </div>
                      <div class="col-sm border-end border-bottom p-3">
                        <div>
                          <label><strong>Grupos de huevos:</strong></label>
                          <ul id="eggGroups"></ul>
                        </div>
                        <div>
                          <label><strong>Texto Descriptivo:</strong></label>
                          <ul id="flavorText"></ul>
                        </div>
                        <div>
                          <label><strong>Evoluciona de especies:</strong></label>
                          <ul id="evolvesSpecies"></ul>
                        </div>
                      </div>
                      <div class="col-sm border-bottom p-3">
                        <div>
                          <label><strong>Es Bebé:</strong></label>
                          <span id="IsBaby"></span>
                        </div>
                        <div>
                          <label><strong>Es Legendario:</strong></label>
                          <span id="IsLegend"></span>
                        </div>
                        <div>
                          <label><strong>Es Mítico:</strong></label>
                          <span id="IsMythic"></span>
                        </div>
                        <div>
                          <label><strong>Tiene diferencias de género:</strong></label>
                          <span id="GenDif"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                <!--tablas-->
                    <!--Variantes-->
                    <div>
                        <label><strong>variantes  :</strong></label>
                        <div class="table-responsive">
                            <table class="table table-bordered border-primary" id="varieTable">
                                <thead>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--Pokedex-->
                    <div>
                        <label><strong>Número de Pokedex  :</strong></label>
                        <div class="table-responsive">
                            <table class="table table-bordered border-danger" id="pokedexTable">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                            </table>
                        </div>
                    </div>
              
               
                <div class="text-center pt-2" id="evchainBtn">
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" id="btnSalirID" class="btn btn-secondary" data-bs-dismiss="modal" >Salir</button>
            </div>
            
           </form>		   

          </div>
        </div>
      </div>
    </div>