    <!--Evolution Chain-->
    <div th:fragment="evchain">
    <div  class="modal fade " id="evolutionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="evolutionModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="evolutionModalLabel">Cadena de Evolución </h1>
              <img src="https://www.pngall.com/wp-content/uploads/4/Pokemon-Pokeball-PNG-Download-Image.png" style="width: 10%;">
            </div>
            <div class="modal-body"  id="evolutionModalBody" >
              <p>Elemento Trigger de Bebé: <span id="babyTriggerItem"></span></p>
              <ul id="evolutionChain"></ul>
                
              </div>
            <div class="modal-footer">
              <button type="button" id="btnSalirID" class="btn btn-secondary" data-bs-dismiss="modal" >Salir</button>
            </div>
            
           </form>		   

          </div>
        </div>
      </div>
    </div>